

@{
    ViewBag.Title = "Genres";
}

<h2 class="h1">Genres</h2>

<div class="text-right">
    @Html.ActionLink("Create", "Editor", "GenreMVC", new { id = 0 }, new { @class = "btn btn-primary" })
</div>
<br />
@if (Model == null)
{
    <div class="row">
        <div class="col-12">
            <div class="text-center">Nothing found</div>
        </div>
    </div>
}
else
{
    <table class="table">
        <tbody>
            @foreach (var genre in Model)
            {
                <tr>
                    <td>@genre.Name</td>
                    <td class="text-right">
                        @Html.ActionLink("Edit", "Editor", "GenreMVC", new { id = genre.Id }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Delete", "Delete", "GenreMVC", new { id = genre.Id }, new { @class = "btn btn-danger", @data_action = "delete" })
                    </td>
                </tr>
            }
        </tbody>
    </table>




    <input type="hidden" name="deleteWarning" value="You are going to delete this Genre. Are you shure?" />
    <input type="hidden" name="deleteError" value="@ViewBag.ErrorMessage" />
    <input type="hidden" name="deleteSuccess" value="@ViewBag.SuccessMessage" />

    @Html.Partial("_DeleteModal")
}
