@model OnlineCinema.BL.Model.MovieAdminView

@{
    ViewBag.Title = "Edit";
}

@if (Model.Id == 0)
{
    <h2>Create</h2>
}
else
{
    <h2>Edit</h2>
}

@using (Html.BeginForm("Save", "MovieMVC", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(m => m.Id);
    <div class="form-group">
        @Html.Label("Title", new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.Label("Trailer link", new { @class = "control-label" })
        @Html.TextBoxFor(m => m.VideoLink, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.VideoLink, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.Label("Genre", new { @class = "control-label" })
        @Html.DropDownListFor(m => m.GenreId, new SelectList(Model.Genres, "Id", "Name"), "Chose genre..", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.GenreId, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.Label("Image", new { @class = "control-label" })
        @if(Model.Image != null)
        {
        <div class="row">
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="data:image;base64,@System.Convert.ToBase64String(Model.Image)" />
                </div>
            </div>
        </div>
        }
        <input type="file" name="uploadedImage" id="uploadedImage" />
        @Html.ValidationMessageFor(m => m.Image, "", new { @class = "text-danger" })
    </div>
    <input class="btn btn-primary" type="submit" value="Save" />
    @Html.ActionLink("Back", "index", "MovieMVC", null, new { @class = "btn btn-default" })
}




