<h2>Schedule</h2>

<div class="text-right">
    @Html.ActionLink("Create", "Edit", "ScheduleMVC", new { id = 0 }, new { @class = "btn btn-primary" })
    <br />
    <br />
</div>

@if (Model != null)
{
    <table class="table">
        <tr>
            <td>Movie</td>
            <td>Session</td>
            <td colspan="2">Date</td>
        </tr>

        @foreach (var schedule in Model)
        {
            <tr>
                <td>@schedule.Movie.Name</td>
                <td>@schedule.Session.Title</td>
                <td>@schedule.Date</td>
                <td class="text-right">
                    @Html.ActionLink("Edit", "Edit", "ScheduleMVC", new { id = schedule.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Delete", "Delete", "ScheduleMVC", new { id = schedule.Id }, new { @class = "btn btn-danger", @data_action = "delete" })
                </td>
            </tr>
        }

    </table>

}

<input type="hidden" name="deleteWarning" value="You are going to delete this Genre. Are you shure?" />
<input type="hidden" name="deleteError" value="@ViewBag.ErrorMessage" />
<input type="hidden" name="deleteSuccess" value="@ViewBag.SuccessMessage" />

@Html.Partial("_DeleteModal")
